<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{% templatetag openvariable %} LANGUAGE_CODE {% templatetag closevariable %}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% templatetag openvariable %} LANGUAGE_CODE {% templatetag closevariable %}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% templatetag openblock %} block title {% templatetag closeblock %}
    {{ project_name }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/app.scss">
  {% templatetag openblock %} block extrahead {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</head>
<body>
  {% templatetag openblock %} block page_title {% templatetag closeblock %}
    <h1>{{ project_name }}</h1>
  {% templatetag openblock %} endblock {% templatetag closeblock %}

  {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

  {% templatetag openblock %} block extrabody {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
</html>
