{% extends 'accounts/base.html' %}
{% load i18n sniplates %}

{% block title %}{% trans 'Change password' %} | {{ block.super }}{% endblock %}
{% block page_title %}{% trans 'Change password' %}{% endblock %}

{% block content %}

  <form method="post">
    {% load_widgets form='widgets/foundation.html' %}
    {% csrf_token %}

    {% form_field form.current_password %}
    {% form_field form.password %}

    {% nested_widget 'form:Content' %}
      <p>{% trans 'Changing your password will log you out of all other open browser sessions.' %}</p>
    {% endnested %}

    {% trans 'Change password' as label %}
    {% widget 'form:Submit' label=label %}
  </form>

{% endblock %}
